<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Contemplate</title>
   <link rel="stylesheet" type="text/css" href="p/prueba.css" title="style" />
</head>

<body>
<div id="page">
  <div id="content">
    <div class="post">
      <h1 class="title"><span>Welcome to Contemplate!</span></h1>
      <img src="p/images/img07.jpg" alt="" width="120" height="120" class="left" />

        <li>{{ nombre }}</li>
        <li>{{ cumple }}</li>
        <li>List item number thre</li>
      </ol>
    </div>
  </div>
  <!-- end #content -->
  <div id="sidebar">
    <div id="menu" class="box">
      <h2 class="title">Pages</h2>
      <ul>
        <li class="first"><a href="http://www.free-css.com/">Home</a></li>
        <li><a href="http://www.free-css.com/">Products</a></li>
        <li><a href="http://www.free-css.com/">Services</a></li>
        <li><a href="http://www.free-css.com/">Forums</a></li>
        <li><a href="http://www.free-css.com/">Support</a></li>
        <li><a href="http://www.free-css.com/">About</a></li>
        <li><a href="http://www.free-css.com/">Contact</a></li>
      </ul>
    </div>
    <!-- end #menu -->
    <div id="updates" class="box">
      <h2 class="title">Recent Updates</h2>
      <ul>
        <li class="first">
          <h3>May 31, 2007</h3>
          <p><a href="http://www.free-css.com/">In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula&#8230;</a></p>
        </li>
        <li>
          <h3>May 26, 2007</h3>
          <p><a href="http://www.free-css.com/">Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh&#8230;</a></p>
        </li>
        <li>
          <h3>May 22, 2007</h3>
          <p><a href="http://www.free-css.com/">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum&#8230;</a></p>
        </li>
        <li>
          <h3>May 17, 2007</h3>
          <p><a href="http://www.free-css.com/">Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam nequea&#8230;</a></p>
        </li>
        <li>
          <h3>May 14, 2007</h3>
          <p><a href="http://www.free-css.com/">Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros&#8230;</a></p>
        </li>
      </ul>
    </div>
    <!-- end #updates -->
  </div>
  <!-- end #sidebar -->
</div>
<!-- end #page -->
</body>
</html>
